# JSON 이란?


- JavaScript Object Notation
- 키와 값으로 구성된 자바스크립트의 데이타 형태 
- 파이썬의 JSON 레퍼런스 
https://docs.python.org/ko/3/library/json.html

#### JSON 예시 

```
JSON 예시 - 키와 값의 구조
{
    "이름": "서태웅",
    "성별": "남",
    "학교": "북산 고등학교 1학년 10반 22번",
    "특기": "농구",
    "포지션": "스몰 포워드(SF)",
    "별명": "여우",
    "체격": {"키": "187 ㎝", "몸무게": " 75 ㎏", "혈액형": " AB형(Rh+)"},
    "라이벌": ["윤대협", "정우성"]
 }

```

In [1]:
# 관련 모듈 임포트 

import json 
import pandas as pd
import requests

In [6]:
# 리스트 정의 
data = ["foo", {"bar":["baz", None, 1.0, 2]}]
data, type(data)

(['foo', {'bar': ['baz', None, 1.0, 2]}], list)

In [8]:
# 리스트 => 문자열 
# json.dumps(리스트/튜플)
data2 = json.dumps(data)
data2, type(data2)

('["foo", {"bar": ["baz", null, 1.0, 2]}]', str)

In [9]:
# 문자열 => 리스트 
# json.loads(문자열)
data3 = json.loads(data2)
data3, type(data3)

(['foo', {'bar': ['baz', None, 1.0, 2]}], list)

In [10]:
data3[0]

'foo'

In [12]:
data3[1]

{'bar': ['baz', None, 1.0, 2]}

In [13]:
data3[1]['bar']

['baz', None, 1.0, 2]

In [14]:
data3[1]['bar'][2]

1.0

### json 샘플 사이트 이용하기 

- http://jsonplaceholder.typicode.com/

- url 요청 => json 데이타 => 리스트 딕셔너리 => 데이타프레임

In [16]:
# (1) json url 요청  => 문자열
url = 'http://jsonplaceholder.typicode.com/todos'
res = requests.get(url)
text = res.text
type(text)
# text

str

In [18]:
# 2) 리스트 딕셔너리 구조화 
todos = json.loads(text)
type(todos), len(todos)

(list, 200)

In [20]:
print(type(todos[-1]))
todos[-1]

<class 'dict'>

{'userId': 10,
 'id': 200,
 'title': 'ipsam aperiam voluptates qui',
 'completed': False}

In [21]:
todos[-1]['title']

'ipsam aperiam voluptates qui'

In [32]:
# 3) 리스트 딕셔너리 => 데이타프레임 
# 빈 데이타프레임 생성 
# 컬럼명은 리스트 안의 딕셔너리 키값으로 설정 
df_todos = pd.DataFrame(columns=['userId', 'id', 'title', 'completed'])
df_todos

Empty DataFrame
Columns: [userId, id, title, completed]
Index: []

In [33]:
# 행이름을 생성 후 for 문으로 데이타 값 전달 
idx = 1
for dict in todos:
    # print(idx, dict)
    userId = dict['userId']
    id = dict['id']
    title = dict['title']
    completed = dict['completed']
    # 데이타프레임 삽입 
    # 데이타프레임명.loc[행이름] = [값1, 값2....]
    df_todos.loc['row' + str(idx)] = [userId, id, title, completed]
    idx += 1

In [34]:
df_todos

,userId,id,title,completed
row1,1,1,delectus aut autem,False
row2,1,2,quis ut nam facilis et officia qui,False
row3,1,3,fugiat veniam minus,False
row4,1,4,et porro tempora,True
row5,1,5,laboriosam mollitia et enim quasi adipisci qui...,False
...,...,...,...,...
row196,10,196,consequuntur aut ut fugit similique,True
row197,10,197,dignissimos quo nobis earum saepe,True
row198,10,198,quis eius est sint explicabo,True
row199,10,199,numquam repellendus a magnam,True
row200,10,200,ipsam aperiam voluptates qui,False

In [26]:
df_todos.shape

(200, 4)

In [29]:
df_todos.head()

  userId id                                              title completed
1      1  1                                 delectus aut autem     False
2      1  2                 quis ut nam facilis et officia qui     False
3      1  3                                fugiat veniam minus     False
4      1  4                                   et porro tempora      True
5      1  5  laboriosam mollitia et enim quasi adipisci qui...     False